.wrapper {
  text-align: center;
}

.text {
  background-color: #FFFFFF;
  width: fit-content;
  margin: 0 auto 1em;
  padding: 1em;
  border: 2px solid #0A9700;
  border-radius: 15px;
}

.text>p>span {
  text-transform: capitalize;
}

.inputHeader {
  font-size: xx-large;
  text-shadow: 1px 1px 2px white;
}

.option {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  margin: 1em auto;
  padding: 1em;
  background-color: #FFFFFF;
  border: 2px solid #0A9700;
  border-radius: 15px;
}

.option>hgroup {
  width: 25vw;
}

.option>h3 {
  width: 25vw;
}

.option>input {
  display: none;
}

.active {
  border: 2px solid #F2D137;
}

.option>.apron {
  background-color: #0A9700;
  padding: 1em;
  border-radius: 30px;
}

.button {
  color: #FFFFFF;
  background-color: #0A9700;
  border: 0;
  padding: 1em 3em;
  margin: 0 1em;
  text-decoration-line: none;
  border-radius: 30px;
}

.disabled {
  color: #CCCCCC;
  background-color: #054700;
  border: 0;
  padding: 1em 3em;
  margin: 0 1em;
  text-decoration-line: none;
  border-radius: 30px;
}
